.toolbar {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #ddd;
}
.tool-icon {
    width: 50px !important;
    height: 50px !important;
    padding: 10px;
    cursor: pointer;
}

.active {
    width: 50px !important;
    height: 50px !important;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition-property: all;
    transition-duration: .2s;
    background-color: cornflowerblue;
    color: #fff;
}

.tool-icon:hover {
    border-radius: 8px;
    border: 1px solid #000;
    transition-property: all;
    transition-duration: .2s;
    background-color: #fff;
}
.icon-name {
    display: none;
}

.active:hover+.icon-name {
    display: flex;
    position: absolute;
    top: 65px;
    padding: 10px;
    background: #eee;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.tool-icon:hover+.icon-name {
    display: flex;
    position: absolute;
    top: 65px;
    padding: 10px;
    background: #eee;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 970px) {
    .toolbar {
        display: block;
        
    }
}